<div class="container">
  <div class="row">
    <div class="form-group col-12">
      <label for="lembreteInputText">
        Lembrete
      </label>
      <input appSombraNaTabela [(ngModel)]="lembrete" type="text" id="lembreteInputText" placeholder="Digite seu lembrete" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button (click)="salvar()" type="button" class="btn btn-primary btn-block">Salvar</button>
    </div>
  </div>
  <div class="row">
    <table appSombraNaTabela class="table-striped table-hover table my-3">
      <thead>
        <tr>
          <th class="text-center">Lembrete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lembrete of lembretes">
          <td class="text-center">{{lembrete}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
